.contact {
  margin-left: auto;
  
  @media screen and (min-width:1200px) {
    display: flex;
    
  }
}

.contact__icon {
  margin-right: 10px;
  fill: currentColor;
  &:hover,
  &:focus {
    fill: currentColor;
  }
}

.contact__link {
  display: flex;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: var(--text-color);
  margin-bottom: 10px;
  // margin-right: 50px;
  // margin-left: 10px;
  margin-left: auto;

  transition-property: color;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  @media screen and (max-width:767.5px) {
    display: none;
  }
  @media screen and (min-width:1200px) {
    margin-bottom: 0;
    margin-right: 30px;
  }

}
.contact__link:last-child {
  margin-right: 0px;
  // margin-left: 0px;
  margin-bottom: 0;
  
}

// .contact-list {
//   margin-left: 331px;
// }
// .contact-item {
//   margin-right: 50px;
// }
// .contact-item:last-child {
//   margin-right: 0px;
// }
