.project {
  display: flex;
  flex-wrap: wrap;
}
.project__item {
  background-color: var(--text-white-color);
  border: 1px solid #eeeeee;
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  cursor: pointer;

  transition-property: box-shadow;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--timing-function);

  &:focus,
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  &:nth-child(3n) {
    margin-right: 0;
  }
  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.project__card {
  padding: 20px 24px;
}

.projeсt__name {
  color: var(--headlines-color);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.projeсt__part {
  color: var(--text-color);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
.projeсt__image {
  display: block;
}

.projeсt__overlay {
  position: relative;
  overflow: hidden;
}
.projeсt__overlay-text {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  background: rgba(33, 150, 243, 0.9);
  color: var(--text-white-color);
  padding: 63px 24px;
  transform: translateY(101%);
  transition: var(--timing-function1);
}
.project__link {
  &:hover .projeсt__overlay-text,
  &:focus .projeсt__overlay-text {
    transform: translateY(0%);
  }
}
