:root {
  --headlines-color: #212121;
  --text-color: #757575;
  --background-color: #2f303a;
  --accent-color: #2196f3;
  --accent-hover-color: #188ce8;
  --text-white-color: #ffffff;
  --btn-color: #f5f4fa;
  --body-color: #e5e5e5;
  --social-color: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
  --timing-function1: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
